In [1]:
import pandas as pd

In [4]:
house_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/machine-learning-for-beginners/master/data/house_rental_data.csv', index_col='Unnamed: 0')

In [5]:
house_data

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom   Price
1    1177.698      2           7        2            2         2   62000
2    2134.800      5           7        4            2         2   78000
3    1138.560      5           7        2            2         1   58000
4    1458.780      2           7        3            2         2   45000
5     967.776     11          14        3            2         2   45000
6    1127.886     11          12        4            2         2  148000
7    1352.040      5           7        3            2         1   58000
8     757.854      5          14        1            0         1   48000
9    1152.792     10          12        3            2         2   45000
10   1423.200      4           5        4            2         2   65000
11    668.904      4          11        1            1         1   31000
12    711.600      4           7        2            1         1   29002
13   1352.040      9          19        4            2         2   39000
14    818.340      4          13        2            2         1   48000
15   2134.800     10          19        3            2         2   55000
16   2768.124      6          19        3            2         2  100000
17    711.600      5          13        2            2         1   48000
18    462.540      5          13        1            1         1   25000
19   2739.660      6          19        3            2         2   90000
20   1174.140      3           9        3            2         1   33000
21   2490.600     19          21        5            3         4  140000
22   2768.124      6          19        3            2         2  100000
23    747.180      7          15        2            2         1   55000
24   1668.702      4          12        3            2         2  105000
25   3664.740     19          19        3            2         3  200000
26   1779.000     10          12        4            2         2   98000
27   3664.740     19          19        3            2         3  200000
28   3059.880     21          24        4            2         3  145000
29    533.700      3           4        1            1         1   25000
30    853.920      6           7        2            1         1   24028
..        ...    ...         ...      ...          ...       ...     ...
619  1857.276      2          14        3            2         2   45000
620  1102.980      6           7        3            2         2   65000
621   925.080      2           4        2            1         1   32000
622  2312.700     11          14        3            2         2   99999
623   925.080      4           9        3            2         2   45000
624   711.600      1           1        3            1         1   12000
625  4198.440     15          19        7            3         4  180000
626  3095.460      1           6        4            2         3  100000
627  2590.224      5          15        3            2         3  110000
628  1885.740      8          13        3            2         2  120000
629  1245.300      1          14        3            2         2   55000
630  1174.140     10          12        3            2         2   41000
631  1458.780      6           7        2            2         2   75000
632  1305.786      9          12        3            2         2   42000
633  1316.460     12          12        3            2         2   45000
634  1167.024      2          12        3            2         2   38000
635   996.240      3           5        3            1         1   28000
636  1099.422      2           7        4            2         2   57777
637  2042.292      6          18        2            2         2   82000
638   843.246      2          18        1            1         1   53000
639  1889.298     18          21        3            2         2   70000
640  1266.648      6           7        3            2         2   40000
641  1707.840      9           9        4            2         2   60000
642  1707.840      9          15        3            2         2   80000
643  2846.400      5          12        4            2         2  138888
644  1359.156      7          15        3            2         2   45000
645   377.148      4          10        1            1         1   24800
646   740.064     13          14        1            1         1   45000
647  1707.840      3          14        3            2         2   65000
648  1376.946      6           7        3            2         1   36000

[645 rows x 7 columns]

In [45]:
X = house_data.drop(['Price'],axis=1)

In [46]:
Y = house_data['Price']

In [47]:
from sklearn.preprocessing import PolynomialFeatures

In [48]:
pol = PolynomialFeatures(3)

In [49]:
pol.fit_transform(X).shape

(645, 84)

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
trainX,testX,trainY,testY = train_test_split(X,Y)

In [52]:
X.shape

(645, 6)

In [53]:
trainX.shape

(483, 6)

In [54]:
testX.shape

(162, 6)

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
lr = LinearRegression()

In [57]:
lr.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [58]:
lr.coef_

array([   37.28809955,  1381.30084869,    64.9355031 , -2132.20681593,
        -929.91401565,  3030.83447333])

In [33]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [25]:
y_pred = lr.predict(testX)

In [27]:
y_pred[:5]

array([91236.35709615, 62844.53954966, 29200.86254538, 82829.41803733,
       70500.39911543])

In [29]:
testX[:5]

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
15   2134.800     10          19        3            2         2
569  1544.172     10          12        4            2         2
238   587.070      5           7        1            1         1
323  2099.220      4           8        3            2         2
73   1892.856      2           7        4            2         3

In [31]:
testY[:5]

15     55000
569    98000
238    36000
323    63000
73     90000
Name: Price, dtype: int64

In [32]:
mean_squared_error(testY,y_pred)

412149306.4641137

In [34]:
mean_absolute_error(testY,y_pred)

14566.054848717646

In [36]:
from sklearn.preprocessing import PolynomialFeatures

In [37]:
pol = PolynomialFeatures(2)

In [38]:
X = pol.fit_transform(X)

In [39]:
X.shape

(645, 28)

In [40]:
trainX,testX,trainY,testY = train_test_split(X,Y)

In [41]:
lr = LinearRegression()

In [42]:
lr.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
y_pred = lr.predict(testX)

In [44]:
mean_absolute_error(testY,y_pred)

16015.532778535131

In [ ]:
ho